<!-- The double curly braces are Angular's interpolation binding syntax. -->
<h2>{{componentTitle}}</h2>


<div>
  <label>Add Hero:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <!-- The *ngFor is Angular's repeater directive. -->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>

    <!-- (click) is Angular's event binding syntax.. -->
    <!-- [class.selected] is Angular's class binding  -->
    <a (click)="preview(hero)" [class.selected]="hero === previewedHero">(preview)</a>

    <!--  -->
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>





<!-- Render child component and pass selectedHero -->
<app-hero-detail [hero]="previewedHero"></app-hero-detail>
